<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <link rel = "spreadsheet" href = "style.css">
        <title>Users</title>
    </head>
    <body>
        <h1> User List </h1>
        <ul id="userlist">
        </ul>
        <!-- <form action="/users" method="POST"> -->
        <form id="addUserForm">
            <input type="text" id="userName" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Add User</button>
        </form>

        <script src="yourself.js"></script>
    </body>
</html>